@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}

.subtitulo{
	font-size:12px;
}

table{
}

table td{
	text-align:center;
	border:1px #000099 dotted;
	background-color: #D0D9DB;
	padding: 8px;
}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
	background-color: #fff;
	margin-top: 5px;
}

table .primera_fila{
	font-size:1.5em;
	background-color:#A0AAAD;
}

.centrado{
	text-align:center;
}
